.bannerbacking{
    background-color: gray;
    background-blend-mode: darken;
    height: 220px;
    width: auto;
    background-position: center -330px;
}

.bannermain{
    
    text-align: center;
    line-height: 200px;
    font-size: 100px;
}