.ulc {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    background-color: #424242;
    
    position: -webkit-sticky; 
    position: sticky; 
    top: 0px; 
    z-index: 1020;
}
  
.licl {
    float: left;
}

.licr {
    float: right;
}
  
.lica {
    display: block;
    color:  #eae5f6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.lical {
    display: block;
    color:  #eae5f6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.licar {
    display: block;
    color: #eae5f6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
  
.lica:hover {
    background-color: #1c1c1c;
    color: lightblue;
    border-radius: 10px;
    
}
