.toolbar{
    top: 0;
    z-index: 1019;
}

.lica {
    display: block;
    color: #eae5f6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.lica:hover {
    background-color: #1c1c1c;
    color: lightblue;
    padding: 10px;
    border-top-left-radius: var(--leftstyle);
    border-bottom-left-radius: var(--leftstyle);
    border-top-right-radius: var(--rightstyle);
    border-bottom-right-radius: var(--rightstyle);
}